* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container{            /*padding generale dei container*/
      padding-top: 30px;
  }
/* ==HEADER NAVBAR */
navbar.navbar-default.navbar-fixed-top.text-center{
    background-color: #ffffff;
}

@media screen and (max-width: 767px){            /*cambio colore background e bordi su mobile*/
.navbar.navbar-default.navbar-fixed-top.text-center{
    border: none;
    background: transparent;
}

.jumbo.container-fluid{
    background: #0248ff;
}

}

.navbar-brand img {
    max-height:100%;
    height:100%;
    width: auto;
}

button.navbar-right.btn.btn-outline-primary{
    transform: translateY(25%);
    border: 2px solid #0080ff;
    font-weight: bold;
    color: #0080ff;
}

.collapse.navbar-collapse li a{
    font-size: small;
    color: #031b4e;
}

/*==JUMBOTRON== */
.jumbo{
    padding-top: 70px;
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}

.jumbo-title{
    transform: translateY(10%);
}

.jumbo-title h1{
    font-size: 65px;
    font-weight: bold;
    color: #ffffff;
}

.jumbo-title p{
    font-size: 20px;
    color: #ccdaff;
}

.jumbotron.col-sm-5.col-md-5{
    padding: 20px 20px;
}

.jumbotron h4{
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #031b4e;
}

.jumbotron p{
    padding: 10px 0;
    font-size: small;
    color: #5b7bb7;
}

.google, .github{
    margin-bottom: 20px;
    padding: 10px 30px;
    border: 1px solid #0080ff;
}

.signup a{
    text-decoration: none;
}

.signup a span{
    padding-left: 20px;
    color: #03369b;
    font-size: 14px;
    font-weight: bold;
}

/* ==PRINCIPALE== */

.second .row{
    padding-bottom: 10px;
}
.logolist{
    list-style-type: none;
    padding: 0 60px;
}
.logolist li{
    vertical-align: middle;
}

.logolist img{
    max-width: 100%;
    height: 50px;
}

#splunk{
    transform: scale(50%);
}

.second .row h5{
    font-size: 13px;
    font-weight: bold;
    color: #99a3c8;
}

.second .row a{
    font-size: 13px;
    font-weight: bold;
}

.third h2{
    font-weight: bold;
    color: #031b4e;
}

.third p{
    color: #596285;
}
