* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  .container{            /*padding generale dei container*/
      padding-top: 40px;
  }

  ul{                        /*no stile per tutti gli ul*/
      list-style-type: none;
      text-decoration: none;
  }


@media screen and (max-width: 767px){
.navbar-default {
    border-color: #0248ff;
}
.navbar-header {
    background-color: #0248ff;
    border-color: #0248ff;
}
.navbar-brand{
    color:#ffffff;
}
 .jumbo.container-fluid{
    background: #0248ff;
}
.deploy-list ul{
    text-align: center;
}
.deploy-list li{
    display: inline-block;
 }
.deploy-list a:hover{
    border-radius: 3px;
    border: 2px solid #0069ff;
}
.process-list{
    text-align: center;
}
.jumbo-title h1, .jumbo-title p{
    text-align: center;
    padding-bottom: 20px;
 }
.jumbotron{
    margin-top: 40px;
 }
.business-box{
    text-align: center;
    padding-top: 20px;
 }
 .d-flex ul{
     padding-right: 100px;
 }
 }

/* ==HEADER NAVBAR */
.navbar.navbar-default.navbar-fixed-top.text-center{
    background-color: #ffffff;
}

.navbar-brand img {
    max-height:100%;
    height:100%;
    width: auto;
}

button.navbar-right.btn.btn-outline-primary{
    transform: translateY(25%);
    border: 2px solid #0080ff;
    font-weight: bold;
    color: #0080ff;
}

button.navbar-right.btn.btn-outline-primary:hover{
    background-color: #0080ff;
    color: #ffffff;
}

.collapse.navbar-collapse li a{
    font-size: small;
    font-weight: bold;
    color: #031b4e;
}
.collapse.navbar-collapse li a:hover{
    color: #0080ff;
}

/*==JUMBOTRON== */
.jumbo{
    padding-top: 70px;
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
}

.jumbo-title{
    transform: translateY(10%);
}

.jumbo-title h1{
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
}

.jumbo-title p{
    font-size: 20px;
    color: #ccdaff;
}

.jumbotron.col-sm-5.col-md-5{
    padding: 20px 20px;
}

.jumbotron h4{
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #031b4e;
}

.jumbotron p{
    padding: 10px 0;
    font-size: small;
    color: #5b7bb7;
}

.google, .github{
    margin-bottom: 20px;
    padding: 10px 30px;
    border: 1px solid #0080ff;
}

.signup a{
    text-decoration: none;
}

.signup a span{
    padding-left: 20px;
    color: #03369b;
    font-size: 14px;
    font-weight: bold;
}

/* ==PRINCIPALE== */

section h2{
    font-size: 25px;
    font-weight: bold;
    color: #031b4e;
}

.second .row{
    padding-bottom: 10px;
}
.logolist{
    padding: 0 60px;
}
.logolist li{
    vertical-align: middle;
}

.logolist img{
    max-width: 100%;
    height: 50px;
}

#splunk{
    transform: scale(50%);
}

.second .row h5{
    font-size: 13px;
    font-weight: bold;
    color: #99a3c8;
}

.second .row a{
    font-size: 13px;
    font-weight: bold;
}

.third p{
    color: #596285;
}

.deploy-list{
    padding-top: 20px;
}
.deploy-list li{
    padding-top: 10px;
    text-decoration: none;
}
.deploy-list a{
    padding: 10px 5px;
    text-decoration: none;
}
.deploy-list a:hover{
    border-left: 2px solid #0069ff;
}
.process-list{
    padding-top: 30px;
    padding-bottom: 15px;
}
.process-box i, .business-box i{
    color: #0069ff;
    font-size: x-large;
}
.process-box h4, .business-box h4{
    font-size: 14px;
    font-weight: bold;
    color: #031b4e;
}
.process-box p{
    text-align: justify;
    font-size: small;
    color: #696285;
}

.fourth i{
    padding: 20%;
    font-size: x-large;
}

.fourth p{
    color: #596285;
    padding-top: 10px;
}

.fifth{
    padding-bottom: 20px;
}
.fifth h2{
    padding-bottom: 20px;
}

/* ==SEZ. WORLD== */
.world{
    background-image: url("https://i.ytimg.com/vi/EBkbV1SIJtI/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.world h3{
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
}

.tabella{
    padding: 40px 0;
}
.table tr:first-child td {
    border-top: none;
}

.table a {
    color: #00d7c2;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}
.table a:hover{
    color:#005fe6;
}

tr > td:first-of-type {
    color: #ffffff;
    font-weight: bold;
}

tr > td:last-of-type {
    text-align: right;
}

.city{
    color: #9d999b;
    font-size: 13px;
}

/* SEZ. DEVELPOMENT */
.develop-text p{
    font-size: 16px;
    color: #6c5f83;
}

.rocker{
    padding: 20px 0;
}
.rocker i{
    padding-top: 100px;
    font-size:x-large;
    font-weight: bold;
}
.rockerbox img{
    height: 40px;
    object-fit: contain;
}
.rockerbox p{
    font-size: 20px;
    padding: 20px 0;
    color: #696285;
}
.rockerbox p:nth-last-of-type(2){
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0;
}
.rockerbox p:last-of-type{
    padding-top: 0;
    font-size: 12px;
}

/* ==SEZ. GET STARTED== */
.started{
    background-image: url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    margin-top: 20px;
    padding: 20px 0;
}
.started h3{
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.started button{
    font-weight: bold;
    color: #0080ff;
    margin-bottom: 20px;
}
.started button a{
    text-decoration: none;
}

/* ==FOOTER== */
.footer{
    background-color: #010e28;
}
.footer dt{
    color: #ffffff;
    padding-bottom: 10px;
}
.footer dd{
    line-height: 2;
    font-size: small;
}

.footer dd a{
    text-decoration: none;
    color: #708686;
}

.footer dd a:hover{
    color: #ffffff;
}

.footer img{
    height: 50px;
}

.copyright{
    border-top: 1px solid #343e53;
    padding-bottom: 20px;
}

.d-flex{
    padding-top: 20px;
}
.d-flex ul{
    line-height: 50px;
}
.d-flex li a{
    color: #808794;
    font-size: 20px;
}
.d-flex li a:hover{
    color:#ffffff;
}
